body, * {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body, h1 {
    padding: 0;
    margin: 0;
}

body {
    background-color: #131516;
    color: white;
}

.center-content {
    width: 75%;
    margin: 0 auto;
}

#outer-div {
    padding: 1rem;
}
