body, * {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body, h1 {
    padding: 0;
    margin: 0;
}

body {
    background-color: #131516;
    color: white;
}

.center-content {
    width: 75%;
    margin: 0 auto;
}

#outer-div {
    padding: 1rem;
}

#status {
    color: #77dd77;
    padding: 2rem;
}

#data-table {
    border-collapse: collapse;
    margin: auto;
    overflow:hidden;
    border-radius: 10px 10px 0 0;
}

#data-table th {
    background-color: #1B2430;
    color: #e9e9d8;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#data-table td {
    color: #d4d4b6;
    border: 1px solid #1B2430;
    padding: 15px;
    min-width: 3rem;
}

#data-table tr {
    background-color: #323550;
}

#data-table tr:nth-child(odd) {
    background-color: #534261;
}

th:first-child { border-top-left-radius: 10px; }
th:last-child { border-top-right-radius: 10px; }

/* Search bar! */
#search-bar-div {
    box-sizing: border-box;
}

#search-bar-div * {
    box-sizing: inherit;
}

.search-bar-general {
    height: 2rem;
    width: 8%;
    border: 1px solid grey;
    z-index: 8;
    position: relative;
}

#main-search-bar {
    border-radius: 10px;
    height: 2rem;
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
}

#main-search-bar-submit {
    background-color: #2195f3e5;
}

#main-search-bar-submit:hover {
    background: #0b7ddab0;
}

#search-suggestions {
    background-color: #ffffff;
    padding: 1.2rem;
    width: 90%;
    border-radius: 10px;
    color: white;
    position: relative;
    z-index: 8;
}

#search-suggestions * {
    position: relative;
    z-index: 8;
}

#cover-entire-screen {
    background-color: rgb(31, 29, 29);
    opacity: 0.6;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: none;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.search-suggestion-entry {
    padding: 1rem;
    margin: 0;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    vertical-align: middle;
}

.search-suggestion-entry:hover {
    background-color: #c6c6c6;
}

.search-suggestion-result {
    padding: 1rem;
    display: inline-block;
}

.search-suggestion-table {
    padding: 1rem;
    display: inline-block;
    margin: 0;
    float: right;
    color:#645f5f;
}

.search-highlight {
    background-color: #ebeba5;
}
