<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>COSI DB</title>
  <meta name="description" content="COSI Dashboard Interface">
  <link rel="stylesheet" href="public/css/base.css"/>
  <link rel="stylesheet" href="public/css/index.css"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="public/js/jquery.js"></script>
  <script src="public/js/searchmanager.js"></script>
  <script src="public/js/table.js"></script>
  <script src="public/js/dashboard.js"></script>
</head>
<body>
    <div id="cover-entire-screen"></div>

    <a id="table-left-move-click" href="/">
      <div id="table-left">
      </div>
      <i class="fa fa-chevron-left" id="table-left-arrow" aria-hidden="true"></i>
    </a>

    <a id="table-right-move-click" href="/">
      <div id="table-right">
      </div>
      <i class="fa fa-chevron-right" id="table-right-arrow" aria-hidden="true"></i>
    </a>

    <nav>
      <ul>
        <li>
          <a href="/" id="logo-container">
            <img src="public/img/cosi_logo.png" id="logo" />
          </a>
        </li>
        <li class="nav-text" id="logo-text">
          <a href="/logout">
            COSI DB
          </a>
        </li>
        <li class="nav-text" style="float: right;">
          <a href="/logout" id="">
            Log Out
          </a>
        </li>
      </ul>
    </nav>

    <!-- out-div necessary for cover-entire-screen -->
    <div id="outer-div">
      <div class="center-content">
        <h1>Search</h1>
        <br />
        <div id="search-bar-div">
          <input type="search" id="main-search-bar" class="search-bar-general" placeholder="Type something such as name, address, or event." />
          <button type="submit" id="main-search-bar-submit" class="search-bar-general"><i class="fa fa-search"></i></button>
          <div id="search-suggestions">Search suggestions</div>
        </div>
        <br /> <br />
    
        <!-- Table Selection -->
        Or select a table to view:
        <br /> <br />
        <button type="button" id="address-select" class="table-selection-button">Address Table</button>
        <button type="button" id="household-select" class="table-selection-button">Household Table</button>
        <button type="button" id="people-select" class="table-selection-button">People Table</button>
        <button type="button" id="gen-data">Generate Data</button>

        <h2 id="table-name"></h2>
    
        <div id="status"></div>
    
        <div id="loading">Now loading...</div>
        <table id="data-table"></table>
      </div>
    </div>
</body>
</html>
